*{
    margin: 0;
}
.menu{
    width: 100%;
    height: 100px;
   /* background-color: gray;*/
    display: flex;
}
.personal{
    width: 40%;
    height: 100px;
    background-color: aqua;
}
.menu-bar{
    width: 60%;
    height: 100px;
    background-color: blue;
    display: flex;
}
p{
    color: white;
}
.sub-menu{
    padding: 40px;
}
.sub-menu:hover{
    background-color: black;
}
.gambar{
    width: 40%;
    height: 100px;
}
.gbr-utama{
    width: 100%;
    height: 500px;
    /*background-color: gray;*/
    display: flex;
}
.judul-kiri{
    width: 50%;
    height: 500px;
    /*background-color: orange;*/
}
.gbr-kanan{
    width: 50%;
    height: 500px;
   /* background-color: aqua;*/
}
.nama-kiri{
    width: 80%;
    height: 300px;
    /*background-color: brown;*/
    margin: auto;
    margin-top: 50px;
}
 .tombol-kiri{
    width: 150px;
    height: 50px;
    background-color: blue;
     border-radius: 10px;
}
.text-nama{
    color: black;
    padding-top:  20px;
}
#tbl-kiri{
    color: white;
    padding-top: 10px;
    padding-left: 30px;
}
#tbl-kiri:hover{
    background-color: yellow;
    color: black;
}
.gbr1{
    height: 500px;
    width: 500px;
}
.gbrorang{
    width: 50%;
    margin: auto;
   
}
.content{
    width: 100%;
    height: 500px;
    /*background-color: grey;*/
    display: flex;
}
.menu-kiri{
    width: 20%;
    height: 500px;
   /* background-color: red;*/
}
.isi{
    width: 60%;
    height: 5000px;
   /* background-color:palevioletred;
*/
}
.menu-kanan{
    width: 20%;
    height: 500px;
    background-color: yellow;
    margin: auto;
    
}
.koleksi-gambar{
    width: 100%;
    height: 500px;
    /*background-color: brown;*/
    display: flex;
   
}
.koleksi{
    width: 40%;
    height: 200px;
    background-color: aqua;
    margin: 20px;
}
li:hover{
    text-decoration: underline;
    background-color: white;
    width: 60%;
}
#saya{
    margin-left:10px;
}
#artikel{
    margin-top: 20px;
    margin-left: 10px;
}
.gambar1{
    width: 100%;
    height: 200px;
}
.gambar2{
    width: 100%;
    height: 200px;
}
.gambar3{
    width: 100%;
    height: 200px;
}
.gambar4{
    width: 100%;
    height: 200px;
}
ul{
    margin-left: 50px;
}
#saya{
    margin-left: 40px;
}
#artikel{
    margin-left: 40px;
}
.about{
  color: black;
}
#about{
    width: 100%;
    height: 500px;
 
}
.infodiri{
    color: black;
}
.service{
    color: black;
}
#service{
    width: 100%;
    height: 500px;
}
.portopolio{
    color: black;
}
#portopolio{
    width: 100%;
    height: 400px;
}
.foto{
    width: 50%;
    height: 200px;
    display: flex;
    margin: auto;
   
    
}
